/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;

    font-family: "Montserrat", sans-serif;

}
header{
    position: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: white;
    padding: 15px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
    top: 0;
    margin-top: 0px;
}
header img{
    margin-right: 580px;
    width:200px;
}
header nav a{
    text-decoration: none;
    margin-left: 25px;
    font-size: 22px;
    color: #1A1A1A;
    margin-right: 10px;
}
#background-main{
    width: 100%; 
    
}
#background-main img{
    position: relative;
}
#absolute-text{
    position: absolute;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 31px;
    letter-spacing: 2px;
}
#absolute-text p{
    width: 620px;
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
}

